In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
df = pd.read_csv('housing_price.csv')
df

    Size (sq ft)  Price ($1000)
0            650            150
1            700            160
2            850            170
3            900            175
4           1000            180
5           1150            190
6           1200            200
7           1300            210
8           1400            220
9           1550            230
10          1600            235
11          1700            250
12          1800            260
13          1900            275
14          2000            290
15          2150            305
16          2250            320
17          2350            335
18          2500            350
19          2600            365
20          2750            380
21          2900            400
22          3000            420
23          3150            440
24          3300            460
25          3400            475
26          3600            500
27          3800            530
28          4000            550